<section class="sign-up-one">
  <div class="container-sm">
    <div class="row align-items-center sign-up-top">
      <div class="col-2">
        <div class="back-icon">
         <img src="assets/icon/back.png" alt="">
        </div>
      </div>
      <div class="col-10 d-flex justify-content-end">
          <div class="log-in-ask">
              <p>Already have an account? <a href="#">Log in</a></p>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="sign-up-header">
            <h1>Sign up</h1>
            <h2>Welcome to the Feedchat</h2>
        </div>
    </div>
    <form action="">
        <div class="row">
            <div class="col-12 mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" placeholder="No one can see your username">
            </div>
            <div class="col-12 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="eamil" class="form-control" id="email" placeholder="No one can see your email">
            </div>
            <div class="col-12 mb-3">
                <label for="password" class="form-label">Password <span class="password-show">Show</span></label>
                <input type="password" class="form-control" id="password" placeholder="Keep it safe">
            </div>
            <div class="col-12 d-grid">
                <a href="#" class="btn btn-primary sign-up-btn" >Sign up</a>
            </div>
        </div>
    </form>
    <div class="terms-policy text-center">
        <p>By Sign up, I accept <a href="#">Privacy Policy</a> & <a href="#">Terms of use</a></p>
    </div>
    <div class="home-indicator"></div>
  </div>
</section>