<section class="chats">
  <div class="container-sm">
    <div class="row align-items-center">
      <div class="col-12 d-flex justify-content-end">
        <h4>Friends</h4>
        <div class="friends">
          <img src="assets/icon/friend.png" alt="" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="chats-header">
          <h1>Chats</h1>
        </div>
      </div>
      <div class="col-12">
        <div class="search-form">
          <label for="search">
            <img src="assets/icon/search.png" alt="" />
          </label>
          <input type="text" id="search" placeholder="Search" />
        </div>
      </div>
    </div>
  </div>

  <div class="navigation">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul>
            <li>
              <a href="#"><img src="assets/icon/chats-nav.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/icon/feed.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/icon/room.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/icon/profile.svg" alt="" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="indicator-line"></div>
  </div>
</section>
