<section class="profile">
  <div class="container-sm">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <div class="profile-edit">
          <img src="assets/icon/edit.png" alt="" />
        </div>
      </div>
    </div>
    <div class="row profile-header">
      <div class="col-12 d-flex justify-content-start">
        <div class="user-avatar">
          <img src="assets/icon/profile.png" alt="" />
        </div>
        <div class="user-info">
          <h3 class="name">Faisal</h3>
          <p class="user-name">@foo7</p>
          <span class="greet">Hello World!</span>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-options">
    <div class="profile-option-top">
      <div class="container-sm">
        <div class="row">
          <div class="col-12">
            <div class="single-option">
              <div class="row align-items-center">
                <div class="col-2">
                  <div class="option-icon">
                    <img src="assets/icon/my-feed.png" alt="" />
                  </div>
                </div>
                <div class="col-8 p-0">
                  <div class="option-link"><a href="#">My Feeds</a></div>
                </div>
                <div class="col-2 d-flex justify-content-end">
                  <div class="option-arrow">
                    <img src="assets/icon/arrow.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="single-option">
              <div class="row align-items-center">
                <div class="col-2">
                  <div class="option-icon">
                    <img src="assets/icon/my-feedbacks.png" alt="" />
                  </div>
                </div>
                <div class="col-8 p-0">
                  <div class="option-link">
                    <a href="#">My Feedsbacks</a>
                  </div>
                </div>
                <div class="col-2 d-flex justify-content-end">
                  <div class="option-arrow">
                    <img src="assets/icon/arrow.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="single-option">
              <div class="row align-items-center">
                <div class="col-2">
                  <div class="option-icon">
                    <img src="assets/icon/favorite.png" alt="" />
                  </div>
                </div>
                <div class="col-8 p-0">
                  <div class="option-link">
                    <a href="#">Favorite Feeds</a>
                  </div>
                </div>
                <div class="col-2 d-flex justify-content-end">
                  <div class="option-arrow">
                    <img src="assets/icon/arrow.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="single-option btb">
              <div class="row align-items-center">
                <div class="col-2">
                  <div class="option-icon">
                    <img src="assets/icon/settings.png" alt="" />
                  </div>
                </div>
                <div class="col-8 p-0">
                  <div class="option-link"><a href="#">Settings</a></div>
                </div>
                <div class="col-2 d-flex justify-content-end">
                  <div class="option-arrow">
                    <img src="assets/icon/arrow.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- kkk -->
        </div>
      </div>
    </div>

    <div class="profile-option-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="single-option">
              <div class="row align-items-center">
                <div class="col-2">
                  <div class="option-icon">
                    <img src="assets/icon/share.png" alt="" />
                  </div>
                </div>
                <div class="col-10 p-0">
                  <div class="option-link"><a href="#">Share App</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="single-option btb">
              <div class="row align-items-center">
                <div class="col-2">
                  <div class="option-icon">
                    <img src="assets/icon/star.png" alt="" />
                  </div>
                </div>
                <div class="col-10 p-0">
                  <div class="option-link"><a href="#">Rate App</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navigation">
    <div class="container-sm">
      <div class="row">
        <div class="col-12">
          <ul>
            <li>
              <a href="#"><img src="assets/icon/feedbacks.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/icon/feed.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/icon/room.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"
              ><img src="assets/icon/profile-active.svg" alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="indicator-line"></div>
  </div>
</section>
