<section class="rooms">
  <div class="container-sm">
    <div class="row">
      <div class="col-12">
        <div class="rooms-header text-center">
          <h2>Rooms</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="single-room room-one">
          <div class="room-info">
            <h3 class="room-title">Room 1</h3>
            <img src="assets/icon/user-icon.png" alt="" />
            <span class="user-count">40/100</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="single-room room-two">
          <div class="room-info">
            <h3 class="room-title">Room 2</h3>
            <img src="assets/icon/user-icon.png" alt="" />
            <span class="user-count">3/100</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="single-room room-three">
          <div class="room-info">
            <h3 class="room-title">Room 3</h3>
            <img src="assets/icon/user-icon.png" alt="" />
            <span class="user-count">68/100</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="single-room room-four">
          <div class="room-info">
            <h3 class="room-title">Room 4</h3>
            <img src="assets/icon/user-icon.png" alt="" />
            <span class="user-count">55/100</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="single-room room-five">
          <div class="room-info">
            <h3 class="room-title">Room 5</h3>
            <img src="assets/icon/user-icon.png" alt="" />
            <span class="user-count">79/100</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="single-room room-six">
          <div class="room-info">
            <h3 class="room-title">Room 6</h3>
            <img src="assets/icon/user-icon.png" alt="" />
            <span class="user-count">22/100</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="single-room room-seven">
          <div class="room-info">
            <h3 class="room-title">Room 7</h3>
            <img src="assets/icon/user-icon.png" alt="" />
            <span class="user-count">12/100</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="single-room room-eight">
          <div class="room-info">
            <h3 class="room-title">Room 8</h3>
            <img src="assets/icon/user-icon.png" alt="" />
            <span class="user-count">23/100</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul>
            <li>
              <a href="#"><img src="assets/icon/feedbacks.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/icon/feed.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/icon/room.svg" alt="" /></a>
            </li>
            <li>
              <a href="#"><img src="assets/icon/profile.svg" alt="" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="indicator-line"></div>
  </div>
</section>